{% extends 'base.html.twig' %}

{% block title %}Cookable - Modifier un Ingrédient{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-4">Modifier un Ingrédient</h1>
        <div class="container mx-auto col-6">
            {{ form_start(form) }}
            <div class="form-group my-1">
                {{ form_label(form.name, 'Nom') }}
                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                <div class="form-error">{{ form_errors(form.name) }}</div>
            </div>
            <div class="form-group my-1">
                {{ form_label(form.price, 'Prix') }}
                {{ form_widget(form.price, {'attr': {'class': 'form-control'}}) }}
                <div class="form-error">{{ form_errors(form.price) }}</div>
            </div>
            <div class="form-group">
                {{ form_row(form.submit) }}
            </div>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}