{% extends 'base.html.twig' %}

{% block title %}Cookable - Ingredients{% endblock %}


{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong>Succès : </strong> {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('danger') %}
        <div class="alert alert-dismissible alert-danger">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong>Erreur : </strong> {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('warning') %}
        <div class="alert alert-dismissible alert-warning">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong>Attention : </strong> {{ message }}
        </div>
    {% endfor %}
    {% if  recettes|length > 0 %}
        <div class="container row text-center mx-auto">
            <h1 class="my-4">Mes Recettes</h1>
            <div class="container mx-auto col-12">
                <div class="count text-end d-flex flex-column my-2">
                    <small>Total : {{ recettes.getTotalItemCount }} recettes</small>
                    <a class="btn btn-primary my-1" href="{{ path('recettes.create') }}">Ajouter une recette</a>
                </div>
                <table class="table table-bordered table-hover table-striped text-end">
                    <thead class="thead-primary">
                    <tr class="table-primary">
                        <th class="px-3" scope="col" ><strong>#</strong></th>
                        <th class="px-3 text-start" scope="col" colspan="2">Recette</th>
                        <th class="px-3" scope="col" >Difficulté</th>
                        <th class="px-3" scope="col" >Prix €</th>
                        <th class="px-3" scope="col" >Favoris</th>
                        <th class="px-3" scope="col" colspan="2">Crée le</th>
                        <th class="px-3" scope="col" colspan="2">Modifiée le</th>
                        <th class="px-3" scope="col" colspan="2"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for recette in recettes %}
                        <tr>
                            <th class="px-3 align-middle" scope="row" >{{ "%02d"|format(recette.id) }}</th>
                            <td class="px-3 text-start align-middle" colspan="2">
                                <a href={{ path('recettes.show', {'id': recette.id})}}>
                                    {{ recette.name }}
                                </a>
                            </td>
                            <td class="px-3 align-middle" >
                                {{ recette.difficulty ? recette.difficulty~"/5":"n/a"}}
                            </td>
                            <td class="px-3 align-middle" >{{ recette.price ? recette.price~"€" : "n/a"}}</td>
                            <td class="px-3 align-middle" >{{ recette.favorite == 1 ? "✅" :"n/a" }}</td>
                            <td class="px-3 align-middle" colspan="2">{{ recette.createdAt|date("d-m-Y") }}</td>
                            <td class="px-3 align-middle" colspan="2">{{ recette.updatedAt|date("d-m-Y") }}</td>
                            <td class="d-flex align-items-center justify-content-evenly" colspan="2">
                                <a href="{{ path('recettes.edit', {'id': recette.id}) }}"
                                   class="btn-outline-primary btn"
                                   title="Modifier la recette"
                                >
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                                <button
                                        title="Supprimer la recette"
                                        type="button"
                                        class="btn-outline-danger btn"
                                        data-bs-toggle="modal" data-bs-target="#Modal{{ recette.id }}"
                                >
                                    <i class="fa-solid fa-trash-can"></i>
                                </button>
                                <div class="modal fade" id="Modal{{ recette.id }}" tabindex="-1"
                                     aria-labelledby="ModalLabel{{ recette.id }}" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="ModalLabel{{ recette.id }}">Attention
                                                                                                         !</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body text-center">
                                                Voulez vous vraiment <strong class="text-danger">SUPPRIMER</strong>
                                                la recette suivante : <br> <br>
                                                "{{recette.name }}" ?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-outline-primary"
                                                        data-bs-dismiss="modal">Annuler</button>
                                                <a  href="{{ path('recettes.delete', {'id': recette.id}) }}"
                                                    class="btn btn-danger">Supprimer</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="pagination mx-auto text-center">
                    {{ knp_pagination_render(recettes) }}
                </div>
            </div>
        </div>
    {% else %}
        <div class="container row text-center mt-4">
            <h4>Aucun élément à afficher</h4>
            <a href="/">← Retour à l'accueil</a>
        </div>
    {% endif %}
{% endblock %}
